/*
Navbar CSS that is present on every page!
*/

body{
    background-image: url('../Images/background.jpg');
    background-size: cover;
    margin: 0;
    padding: 0;
}

.navbar{
    display: flex;
    flex-direction: row;
    background: #0C2340;
    box-shadow: 0 0.5vw 2vw black;
    font-family: 'Bebas Neue', cursive;
    font-size: 1.5vw;
}

.navbar ul{
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
}

.navbar .left{
    align-items: flex-start;
}

.navbar .right{
    align-items: flex-end;
    margin-left: 45vw;
}

.navbar a{
    font-size: 1.5vw;
    text-decoration: none;
    color: white;
}

.navbar li{
    text-decoration: none;
    display: inline;
    list-style: none;
    color: white;
    padding: 1em;
    padding-top: 0;
    padding-bottom: 0;
}

.navbar li:hover{
    cursor: pointer;
    background: #102e53;
}

.navbar li.active{
    color: #AE9142;
    cursor: default;
    background: #0C2340;
}

.navbar ul img{
    width: 8vw;
    height: 2.5vw;
    position: relative;
    top: 25%;
}


@media all and (max-width: 800px){
    .navbar{
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
    }

    .navbar a{
        font-size: 2.25vw;
    }

    .navbar li{
        font-size: 2.25vw;
    }

    .navbar .left{
        margin-bottom: 0.01vw;
    }

    .navbar .right{
        margin-left: 0;
    }
}