/* White strip on background of page */
.background-body{
    background-color: white;
    position: absolute;
    left: 50%;
    top: 7.5vw;
    width: 85%;
    margin: auto;
    padding-bottom: 1em;
    transform: translateX(-50%);
    z-index: -1;
}

.heading h1{
    font-family: 'Bebas Neue', cursive;
    font-size: 6vw;
    color: #0C2340;
    letter-spacing: 0.05em;
    transform: scale(1, 0.8);
    text-align: center;
}

.line{
    border-bottom: 1px solid #565a5c;
    width: 22vw;
    position: absolute;
    top: 11vw;
    left: 50%;
    transform: translate(-50%, -50%);
}

.heading h2{
    font-family: 'Bebas Neue', cursive;
    font-size: 2vw;
    color: #0C2340;
    letter-spacing: 0.05em;
    transform: scale(1, 0.8);
    text-align: center;
    position: absolute;
    top: 11.75vw;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-body{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 2.5em;
    padding-right: 2.5em;
}

.column{
    flex: 10%;
    padding: 0.5em;
    padding-top: 0.25em;
    margin-left: 1em;
    margin-right: 1em;
    background: whitesmoke;
    border: 3px solid #0C2340;
}

.column h2{
    font-family: 'Bebas Neue', cursive;
    font-size: 2vw;
    color: #0C2340;
    letter-spacing: 0.05em;
    transform: scale(1, 0.8);
}

.column h3{
    font-family: 'Inter', sans-serif;
    font-size: 1.25vw;
    list-style: none;
    color: #0C2340;
    margin-bottom: 0.25vw;
}

.column h5{
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 1vw;
    margin-left: 3.25vw;
    margin-top: 0.15vw;
    color: #565a5c;
}

.column a{
    text-decoration: none;
    color: #0C2340;
    margin-left: 1em;
}

/* Writer of the month section */
.writer-heading{
    display: flex;
    width: 100%;
    margin: 0.9em 0 -1.75em 0.9em;
}

.writer-heading h2{
    font-family: 'Bebas Neue', cursive;
    font-size: 2vw;
    flex-direction: column;
    color: #0C2340;
    letter-spacing: 0.05em;
    transform: scale(1, 0.8);
    margin-bottom: 3vw;
}

/* Information under the header */
.writer-body{
    display: flex;
    justify-content: center;
    margin: 0.25em 1em;
}

.writer-body img{
    height: 18vw;
    width: 20vw;
    margin-right: 2em;
}

.writer-body h5{
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 1.25vw;
    position: relative;
    top: 2vw;
    color: #565a5c;
}

#form-header{
    color: #0C2340;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 0.05em;
    transform: scale(1, 0.8);
}

#form-subheader{
    color: #565a5c;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
}

.nominate-form{
    display: block;
}

.nominate-form input[type='text']{
    border: none;
    background: transparent;
    border-bottom: 1px solid #0C2340;
    font-size: 1.5vw;
    font-family: 'Inter', sans-serif !important;
    width: 60%;
}

.nominate-form input[type='text']:focus{
    outline: none;
    border-bottom: 1px solid #0C2340;
    background: rgb(238, 238, 238);
}

.nominate-form label{
    font-size: 1.25vw;
    color: #565a5c;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    margin-left: 0.75em;
}

.nominate-form select{
    width: 10em;
    font-size: 1.25vw;
    color: #565a5c;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
}

.nominate-form textarea{
    background: white;
    font-weight: 300;
    font-size: 1.5vw;
    width: 95%;
    height: 50%;
    outline: none;
    resize: none;
    margin-top: 1em;
}

#submit-button{
    top: 90%;
}

.column a:hover{
    color: #1d508f;
}

/* Additional responsiveness for different widths */
@media all and (max-width: 900px){
    .line{
        display: none;
    }
}

@media all and (max-width: 700px){
    .background-body{
        height: 300%;
    }

    .heading h1{
        font-size: 8vw;
    }

    .heading h2{
        margin-top: 2em;
        font-size: 3vw;
    }

    .line{
        display: none;
    }

    .main-body{
        flex-direction: column;
    }

    .column{
        margin-bottom: 0.5em;
        flex: 0%;
    }

    .column h2{
        font-size: 3.5vw;
    }

    .column h3{
        font-size: 2.5vw;
    }

    .column h5{
        font-size: 1.5vw;
        margin-left: 6vw;
    }

    .writer-heading{
        justify-content: center;
    }
}