/* White Background */
.post-box{    
    background-color: white;
    display: flex;
    flex-flow: column wrap;
    position: absolute;
    left: 50%;
    top: 7.5vw;
    width: 85%;
    overflow: auto;
    transform: translateX(-50%);
    z-index: -1;
    padding-left: 2.5em;
    padding-right: 2.5em;
}

/* CSS for heading of post */
.post-heading h1{
    font-family: 'Bebas Neue', cursive;
    font-size: 5vw;
    color: #0C2340;
    letter-spacing: 0.05em;
    transform: scale(1, 0.8);
    margin-bottom: -0.5em;
}

.post-heading h2{
    font-family: 'Inter', sans-serif;
    color: #565a5c;
    margin-bottom: -0.5em;
    font-weight: 300;
    font-size: 1.5vw;
}

.post-heading h3{
    font-family: 'Bebas Neue', cursive;
    color: #0C2340;
    letter-spacing: 0.05em;
    transform: scale(1, 0.8);
    margin-bottom: 0.25em;
    font-size: 1.2vw;
}

.post-heading i{
    display: inline;
}

#post-like{
    color: green;
    font-size: 1vw;
}

#post-dislike{
    color: red;
    font-size: 1vw;
    margin-left: 0.5vw;
}

.post-line{
    border-bottom: 1px solid #565a5c;
    width: 95%;
    position: absolute;
    top: 14.5vw;
    left: 50%;
    transform: translate(-50%, -50%);
}

#post-block{
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
}

#post-block p{
    margin: 0;
    margin-bottom: -1em;
}

#story-input{
    white-space: pre-wrap;
    /* &nbsp; */
}

#post-text-area{
    display: block;
    overflow: auto;
}

/* Additional responsiveness for different widths */
@media all and (max-width: 900px){
    .post-heading h3{
        font-size: 1.75vw;
    }

    .fas{
        font-size: 1.75vw;
    }

    .post-line{
        top: 18vw;
    }
}

@media all and (max-width: 700px){
    .post-heading{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .post-heading h1{
        font-size: 8vw;
    }

    .post-heading h2{
        font-size: 2.5vw;
    }

    .post-heading h3{
        font-size: 2.5vw;
        margin-top: 0.5em;
    }

    .post-line{
        top: 30vw;
    }

    .fas{
        margin-bottom: 0.5em;
        font-size: 3vw;
    }
}